---
export const prerender = false;
const lfmAPI = import.meta.env.LAST_FM_API_KEY;
const username = 'rotaluclac';
const lfmResponse = await fetch(`https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${username}&api_key=${lfmAPI}&format=json`,
{
    method: "GET",
});
const data = await lfmResponse.json();
const recent = data.recenttracks.track[0];
const np = {
    artist: recent.artist['#text'],
    track: recent.name,
    album: recent.album['#text'],
    albumArt: recent.image[1]['#text'],
};
---

<div class="radio">
    <img src={np.albumArt} width="64px"/>
    <p>
        <small><a href="https://last.fm/user/rotaluclac" style="color: gray; text-decoration: none;">recently listened to:</a></small><br>
        <b>{np.artist}</b> <br>
        {np.track} <br>
        <small style="color: gray">from </small><i>{np.album}</i>
    </p>
</div>
